# Final Solution

In [127]:
l1 = [9,9,9,9,9,9,9]
l2 = [9,9,9,9]

l1 = [0]
l2 = [0]

l1 = [9,9,9,9,9,9,9]
l2 = [9,9,9,9]

In [128]:
# For l1 (342)

if(len(l1)==1 and len(l2)==1):
    a = l1[0]
    b = l2[0]
    add  = a + b
    lis = [add]
else:
    ini = l1[0]
    for i in range(len(l1)-1):
        a = ini*10+l1[i+1]
        ini = a

    # For l1 (465)
    ini = l2[0]
    for i in range(len(l2)-1):
        b = ini*10+l2[i+1]
        ini = b
    
    # Summation of two values of linked list
    add  = a + b


    if(len(l1)==1):
        a = l1[0]
        
    # Converting the result as linked list format (Reverse list)
    num = add
    lis = []

    while num > 0:
        value = num % 10
        lis.append(value)
        num = num // 10

In [129]:
lis

[8, 9, 9, 9, 0, 0, 0, 1]

# Breaking Down

## Reverse the list

In [64]:
l1 = [1,2,3,4,5,6]
revierse = l1[: : -1]
l1= revierse
l1

[6, 5, 4, 3, 2, 1]

## Algorithm to convert list to value ([6, 5, 4, 3, 2, 1] to 654321)

6*10+5 = 65

65*10+4 = 654

654*10+3 = 6543

6543*10+2 = 65432

65432*10+1 = 654321

In [65]:
ini = l1[0]
for i in range(len(l1)-1):
    a = ini*10+l1[i+1]
    ini = a
    
print("Final Result: ",a)

Final Result:  654321

# The problem

In [73]:
l1 = [2,4,3]
l2 = [5,6,4]

In [74]:
l1 = l1[::-1]
l2 = l2[::-1]

print(l1)
print(l2)

[3, 4, 2]
[4, 6, 5]

In [75]:
ini = l1[0]
for i in range(len(l1)-1):
    a = ini*10+l1[i+1]
    ini = a
    
print("Final Result: ",a)

Final Result:  342

In [76]:
ini = l2[0]
for i in range(len(l2)-1):
    b = ini*10+l2[i+1]
    ini = b
    
print("Final Result: ",b)

Final Result:  465

In [77]:
a

342

In [78]:
b

465

In [80]:
summation = a + b
summation

807

# Num to  list
807 = [8,0,7]


1234

1234 % 10 = 4 +

1234 / 10 = 123

123 % 10 = 3 +

123/10 = 12

12 % 10 = 2 +

12 / 10 = 1

1 % 10 = 1 +

list = 4, 3, 2, 1

In [83]:
num = 12345
lis = []

In [84]:
while num > 0:
    value = num % 10
    lis.append(value)
    num = num // 10

In [85]:
lis

[5, 4, 3, 2, 1]

# Solving the code

In [86]:
num = summation
lis = []

while num > 0:
    value = num % 10
    lis.append(value)
    num = num // 10
    
lis

[7, 0, 8]